.dashboard-wrapper {
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--bg-color-white);
	font-family: var(--font-family);
	min-height: calc(100vh - var(--navbar-height));
	width: 100%;
	position: relative;
}

.admin-dashboard {
	padding: 20px;
	font-family: Arial, sans-serif;
}

.admin-dashboard__title {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: var(--font-family);
	font-weight: 600;
}

.widget-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.widget {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	/* background-color: #f9f9f9; */
	/* flex-wrap: wrap; */
	/* flex: 1 1 calc(33.333% - 40px); Adjust the width of the widgets */
	flex: 1 1 calc(50% - 40px);

	box-sizing: border-box;
}

.widget__title {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: var(--font-family);
	font-weight: 500;
}

/* .book-requests__list,
.issued-books__list,
.users__list {
	list-style-type: none;
	padding: 0;
} */

/* .book-requests__item,
.issued-books__item {
	background-color: #fff;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px; */
/* display: flex; */
/* justify-content: space-between; */
/* align-items: center; */
/* } */

.users__item {
	background-color: #fff;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.button-delete {
		background: #ff4742;
		border: 1px solid #ff4742;
		border-radius: 6px;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
		font-size: 15px;
		font-weight: 800;
		line-height: 16px;
		min-height: 30px;
		outline: 0;
		padding: 2px 14px;
		text-align: center;
		text-rendering: geometricprecision;
		text-transform: none;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: middle;
	}

	.button-delete:hover,
	.button-delete:active {
		background-color: initial;
		background-position: 0 0;
		color: #ff4742;
	}

	.button-delete:active {
		opacity: 0.5;
	}
}

/* .book-requests__approve-button {
	padding: 5px 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.book-requests__approve-button:hover {
	background-color: #0056b3;
} */

.library {
	/* border: 1px solid #ddd; */
	/* padding: 10px; */
	margin-bottom: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	/* display: flex; */
}

.requests-container {
	width: 100%;
	/* border: 1px solid red; */
	display: flex;
	flex-wrap: wrap;
	/* box-sizing: border-box; */
	justify-content: center;
	align-self: auto;
	gap: 10px;
}
.book-request {
	flex: auto;
	padding: 1em;
	/* border: 1px solid red; */
	/* margin: 10px; */
	/* background-color: #f7f5f8; */
	border: 1px solid #ccc;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
}
.book-approve-btn {
	margin-top: 10px;
	padding: 5px;
}
.book-table-label {
	/* border: 1px solid blue; */
	text-transform: uppercase;
	font-family: var(--font-family);
	font-weight: 600;
	padding-bottom: 6px;
}
.book-table-value {
	text-transform: uppercase;
	padding-left: 10px;
	padding-bottom: 6px;
	font-family: var(--font-family);
	/* border: 1px solid green; */
}

.book-approve-btn {
	background: #34d842;
	border: 1px solid #42ff52;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 15px;
	font-weight: 800;
	line-height: 16px;
	min-height: 30px;
	outline: 0;
	padding: 2px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}

.book-approve-btn:hover,
.book-approve-btn:active {
	background-color: initial;
	background-position: 0 0;
	color: #24b430;
}

.book-approve-btn:active {
	opacity: 0.5;
}
