.profile-wrapper {
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--bg-color-white);
	font-family: var(--font-family);
	min-height: calc(100vh - var(--navbar-height));
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.top-wrapper {
	.heading {
		margin: 0 auto;
		padding-left: 6em;
	}
}

.profile-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	/* background-color: #fff; */
	/* color: #444; */
	max-width: 800px;
}

.box {
	/* background-color: #444; */
	/* color: #fff; */
	/* border-radius: 5px; */
	padding: 20px;
	font-size: 120%;
}

.a,
.b,
.c,
.d,
.e {
	text-transform: uppercase;
	font-weight: 700;
}
.a-value,
.b-value,
.c-value,
.d-value,
.e-value {
	font-weight: 400;
}

.a-value,
.d-value {
	text-transform: uppercase;
}
