@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--font-name: "Montserrat", sans-serif;
}

.book-cards {
	font-family: var(--font-name);
	display: flex;
	flex-wrap: wrap;
	place-content: center;
}
