/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
	font-family: "Gilroy-MediumItalic";
	src: url("font/gilroy/Gilroy-MediumItalic.ttf");
}
@font-face {
	font-family: "Gilroy-Regular";
	src: url("font/gilroy/Gilroy-Regular.ttf");
}

:root {
	--bg: #513831 url(/bookshelf.min.svg) repeat scroll top center;
	--bg-color-cream: #f9f1de;
	--color-blue: #46b2ce;
	--font-gilroy-mediumitalic: "Gilroy-MediumItalic";
	--font-gilroy-regular: "Gilroy-Regular";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: "Montserrat", sans-serif; */
}

body {
	/* background-color: rgb(231, 231, 231); */
	background: #626cd6;
	background: var(--bg);
	/* width: 100%;
	min-height: 100vh;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center; */
}
